<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    <title>HOME</title>
    <h1> POBIERZ WYBRANY FILM </h1>
</head>

<body>
    <div class="container">
        <div class="URL-add-container">
            <form class="search-section">
                <input name="search" type="text" placeholder="  Wklej link prowadzący do filmu...">
                    <form>
                        <button type="submit" formaction="./download.html">KONTYNUUJ</button>
                  </form>
            </form>
        </div>
    </div>
    <div class="bottom-content">
        <b>lossless compression</b>
    </div>
</body>