@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h1 {
    position:absolute;
    top: 152px;
    left: 640px;
    width: 680px;
    height: 82px;
    text-align: left;
    font-family: "Open Sans, Condensed Light", sans-serif;
    font-size: 40px;
    letter-spacing: 9px;
    color: #FFFFFF;
    opacity: 1;
}
form.search-section {
    position:absolute;
    top: 486px;
    left: 610px;
}
input {
    position:absolute;
    width: 736px;
    height: 81px;

    border: none;
    text-align: left;
    font: normal normal 300 24px/33px "Open Sans";
    letter-spacing: 3.6px;
    color: #D4D1E5;;
    opacity: 1;
    border-radius: 20px;

}

button {
    position: absolute;
    top: 100px;
    left: 140px;
    width: 302px;
    height: 81px;
    font: normal normal 300 30px/41px "Open Sans";
    color: #FFFFFF;
    background: #983AD8 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;   
    border: none;
    margin: 2em;
    cursor:pointer;
}

button:hover {
    transition-duration: 0.1s;
    background-color: #d392ff;
}

button:after {
    content:"";
    display:block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity:0;
    transition: all 0.5s;
    box-shadow: 0 0 40px 40px white;
}

button:active:after {
    box-shadow: 0 0 0 0 #d392ff;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 1s;
}

body {
    background: transparent url('../img/background.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
.bottom-content {
    position: absolute;
    top: 949px;
    left: 845px;
    width: 240px;
    height: 33px;

    text-align: left;
    font-family: "Open Sans", sans-serif;
    font: normal normal 300 24px/33px;
    letter-spacing: 3.6px;
    color: #FFFFFF;
    opacity: 1;
}

@media only screen and (max-width: 1112px) {

    h1 {
        top:37%;
        left:9%;
        width:100%;
        height: 100%;
        font-size: 14px;
    }
    
    form.search-section {
        flex-direction: column;
        margin: auto;
        top:43%;
        left:0;
        width:90%;
        height: 25%;
    }

    input {
        left:5%;
        width:100%;
        height: 35%;
        font: normal normal 300 15px/10px "Open Sans";
    }

    button {
        left:22%;
        width:50%;
        height: 30%;
        margin-top: 1px;
        font: normal normal 300 15px/10px "Open Sans";
    }

    .bottom-content {
        top:90%;
        left:24%;
        width:100%;
        height: 100%;
        font-size: 14px;
    }

}
