@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: transparent url('../img/background.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    overflow: hidden;
}

h1 {
    position:absolute;
    top: 152px;
    left: 320px;
    width: 1300px;
    height: 82px;
    text-align: center;
    font-size: 40px;
    letter-spacing: 9px;
    color: #FFFFFF;
    opacity: 1;
}
.invalid_url{
    background:#ffdb9b;
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    right: 0px;
    top: 10px;
    overflow: hidden;
    border-radius:4px;
    border-left: 8px solid #ffa502;
}
.invalid_url.showAlert{
  opacity: 1;
  pointer-events: auto;
}
.invalid_url.show{
    animation: show_slide 1s ease forwards;
}
@keyframes show_slide{
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(0%);
    }
}
.invalid_url.hide{
    display: none;
}
.invalid_url .fa-circle-exclamation{
    position:absolute;
    left: 20px;
    top:50%;
    transform: translateY(-50%);
    color: #ce8500;
    font-size: 30px;
}
.invalid_url .msg{
    padding: 0 20px;
    font-size: 18px;
    color: #ce8500;
}

.invalid_url .msg ul {
    list-style-type: none;
    padding: 0 20px;
    font-size: 18px;
    color: #ce8500;
}

.invalid_url .close{
    position:absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #ffd080;
    padding: 20px 18px;
}
.close .fa-times{
    color: #ce8500;
    font-size: 22px;
    line-height: 40px;
}
.close:hover{
    background: #ffc766;
    cursor: pointer;
}
h3 {
    position:absolute;
    top: 430px;
    left: 320px;
    width: 1300px;
    height: 82px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 9px;
    color: #FFFFFF;
    opacity: 1;
}

form.search-section {
    position:absolute;
    top: 470px;
    left: 540px;
}

input {
    position:absolute;
    width: 850px;
    height: 81px;
    padding-left: 50px;
    border: none;
    text-align: left;
    font: normal normal 300 24px/33px "Open Sans";
    letter-spacing: 4px;
    opacity: 1;
    border-radius: 55px;

}

button {
    position: absolute;
    top: 100px;
    left: 350px;
    transform: translate(-50%, -50%);
    height: 95px;
    width:360px;
    font: normal normal 300 30px/41px "Open Sans";
    color: #FFFFFF;
    background: #983AD8 0% 0% no-repeat padding-box;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    border-radius: 55px;
    font-size: 35px;
    opacity: 1;
    border: none;
    margin: 2em;
    cursor:pointer;
}

button:hover {
    transition-duration: 0.1s;
    background-color: #d392ff;
}

button:after {
    content:"";
    display:block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity:0;
    transition: all 0.5s;
    box-shadow: 0 0 40px 40px white;
}

button:active:after {
    box-shadow: 0 0 0 0 #d392ff;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 1s;
}

.bottom-content {
    position: absolute;
    top: 1000px;
    left: 830px;
    width: 270px;
    height: 33px;

    text-align: left;
    font-family: "Open Sans", sans-serif;
    font: normal normal 300 24px/33px;
    letter-spacing: 3.6px;
    color: #FFFFFF;
    opacity: 1;
}

.wrapper{
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 450px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    border-radius: 11px;
    padding: 30px;
}

.wrapper .form{
    width: 100%;
}

.wrapper .form .inputfield{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.wrapper .form .inputfield label{
     width: 200px;
     color: #757575;
     margin-right: 10px;
    font-size: 14px;
}

.wrapper .form .metadata{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.wrapper .form .metadata label{
    color: #757575;
    margin-right: 57px;
    font-size: 14px;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.wrapper .form .inputfield .textarea{
    width: 100%;
    height: 125px;
    resize: none;
}

.wrapper .form .inputfield .custom_select{
    position: relative;
    width: 100%;
    height: 37px;
}

.wrapper .form .inputfield .custom_select:before{
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
}

.wrapper .form .inputfield .custom_select select{
    -webkit-appearance: none;
    -moz-appearance:   none;
    appearance:        none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
}


.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus,
.wrapper .form .inputfield .custom_select select:focus{
    border: 1px solid #983AD8;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #983AD8;
}

input:focus + .slider {
    box-shadow: 0 0 1px #983AD8;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.button{
      position: absolute;
      top: 51%;
      left:69%;
      transform: translate(-50%, -50%);
      height: 95px;
      width:360px;
      background: #983AD8;
      border-radius: 55px;
      box-shadow: 0 5px 10px rgba(0,0,0,0.2);
      cursor: pointer;
      overflow: hidden;
}

.button.active {
    height: 20px;
    width: 500px;
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    border-radius: 55px;
    background: #5d0d93;
}

.button.active::before {
    animation: layer 6s ease-in-out forwards;
}

@keyframes layer {
    100%{
      left: 0%;
    }
}
.button .content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease;
    transition-delay: 0.1s;
}

.button.active .content {
    transform: translateY(60px);
}

.content i,
.content .button-text {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
}

.content .button-text {
    font-size: 28px;
    margin-left: 8px;
}

  @media only screen and (max-device-width: 660px) {

    h1 {
        top:20%;
        left:12%;
        width:120%;
        height: 100%;
        font-size: 65px;
    }

    form.search-section {
        flex-direction: column;
        margin: auto;
        top:66%;
        left:15%;
        width:95%;
        height: 25%;
    }

    input {
        left:5%;
        width:110%;
        height: 30%;
        font: normal normal 300 45px/10px "Open Sans";
        border-radius: 90px;
    }

    button {
        top: 40%;
        left:46%;
        width:70%;
        height: 35%;
        margin-top: 10%;
        font: normal normal 300 60px/10px "Open Sans";
        border-radius: 90px;

    }

    .bottom-content {
        top:130%;
        left:53%;
        width:100%;
        height: 100%;
        font-size: 30px;
    }

    .wrapper {
        position: relative;
        max-width: 100%;
        height: 100%;
        top:1450px;
        left: 25%;
        margin:0;
        padding: 40;
    }

    .wrapper .form .inputfield label {
      width: 100%;
      font-size: 40px;
    }

    .wrapper .form .inputfield .custom_select{
      height: 80px;
    }

    .wrapper .form .inputfield .custom_select select{
      font-size: 40px;
    }

    .wrapper .form .metadata label{
      font-size: 40px;
    }

    .switch {
      left:19%;
      width: 132px;
      height: 70px;
    }

    .slider:before {
      height: 62px;
      width: 62px;
      left: 4px;
      bottom: 4px;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(62px);
      -ms-transform: translateX(62px);
      transform: translateX(62px);
    }

    .button{
        top:140%;
        width: 70%;
        height: 50%;
        left:49%;
        border-radius: 90px;
    }

    .content i,
    .content .button-text {
      color: #fff;
      font-size: 50px;
      font-weight: 500;
    }

    .button.active {
      height: 40px;
      width: 700px;
    }

}
