{% extends 'index.html' %}

 {% block title %}TEST {% endblock %}

{% block link %}
    <input id="url" type="text" name="search" value="{{ url }}" style="color: black;">
{% endblock %}

{% block content %}
    <table>
        <div>
            <iframe src="{{ embed }}"></iframe>
        </div>
        <div>
            <thead>
                <tr>
                    <th>Resolutions</th>
                    <th>Download</th>
                </tr>
            </thead>
        </div>
    </table>
{% endblock %}